<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="en">
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top" style="background: #002F6C">
    <div class="container" style="background: #002F6C">
        <a class="navbar-brand" href="#" style="color: #E57200">Welcome, {{ user.username }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" style="color: white">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'questionnaire:form' %}" style="color: white">Roommate Questionnaire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'questionnaire:profile' user.username %}" style="color: white">Your Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'questionnaire:answers' user.username %}" style="color: #E57200">Your Results
                        <span class="sr-only">(current)</span>
                    </a>

                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'questionnaire:calendar' user.username %}" style="color: white">Your Calendar</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<head>
    <meta charset="UTF-8">
    <title>Questionnaire Results</title>
    <div class="jumbotron text-center" style="margin-top: 58px; background-color: #FFFFFF;">
    <h3 class="font-weight-bold"> The Results Page </h3>
        <p>{{ user.username }}, these are your matches.</p>
        <hr class="my-4">
    </div>
    {% if matches %}
    <!-- https://bbbootstrap.com/snippets/bootstrap-social-media-feed-template-73037768 -->
        <ul>
            <div class="container mt-4 mb-5">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-8">
                        <div class="feed p-2">
                            <div class="bg-white border mt-2">
                                {% for us in matches %}
                                <div>
                                    <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">

                                        {% if us.pfp %}
                                        <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" width="45" height="45" src="https://dwltestproj1.s3.amazonaws.com/static/{{us.pfp}}">
                                        {% else %}
                                        <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" width="45">
                                        {% endif %}
                                            
                                            <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">{{ us.name }}</span></div>
                                        </div>
                                        <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                                    </div>
                                </div>
                                <hr class="my-4">
                                    <div>Name: <b>{{us.name}}</b></div>

                                    <div>Email: <b>{{us.email}}</b></div>

                                    {% if us.year == '1' %}
                                     <div>Year:  <b>1st</b></div>
                                    {% elif us.year == '2' %}
                                      <div>Year: <b>2nd</b></div>
                                     {% elif us.year == '3' %}
                                      <div>Year:  <b>3rd</b></div>
    {% elif us.year == '4' %}
        <div>Year:  <b>4th</b></div>
    {% endif %}

    {% if us.wake_up == '1' %}
        <div>Wake Up: <b>Before 7am</b></div>
    {% elif us.wake_up == '2' %}
        <div>Wake Up: <b>7:00 - 8:30</b></div>
    {% elif us.wake_up == '3' %}
    <div>Wake Up: <b>8:30 - 10:00</b></div>
    {% elif us.wake_up == '4' %}
        <div>Wake Up: <b>10:00 - 11:30</b></div>
    {% elif us.wake_up == '5' %}
        <div>Wake Up: <b>After 11:30</b></div>
    {% endif %}

    {% if us.go_to_bed == '1' %}
        <div>Usual Bedtime: <b>Before 9:00</b></div>
    {% elif us.go_to_bed == '2' %}
        <div>Usual Bedtime: <b>9:00 - 10:30</b></div>
    {% elif us.go_to_bed == '3' %}
        <div>Usual Bedtime: <b>10:30 - 12:00</b></div>
    {% elif us.go_to_bed == '4' %}
        <div>Usual Bedtime: <b>12:00 - 1:30</b></div>
    {% elif us.go_to_bed == '5' %}
        <div>Usual Bedtime: <b>After 1:30</b></div>
    {% endif %}

    {% if us.how_clean == '1' %}
    <div>How Clean: <b>Very Clean</b></div>
    {% elif us.how_clean == '2' %}
    <div>How Clean: <b>Kinda Clean</b></div>
    {% elif us.how_clean == '3' %}
    <div>How Clean: <b>Kinda Messy</b></div>
    {% elif us.how_clean == '4' %}
    <div>How Clean: <b>Very Messy</b></div>
    {% endif %}

    {% if us.guests == '1' %}
        <div>Guest Policy: <b>Always love to have guests over</b></div>
    {% elif us.guests == '2' %}
        <div>Guest Policy: <b>Usually love to have guests over</b></div>
    {% elif us.guests == '3' %}
        <div>Guest Policy: <b>Sometimes love to have guests over</b></div>
    {% elif us.guests == '4' %}
        <div>Guest Policy: <b>Never love to have guests over</b></div>
    {% endif %}

    {% if us.more_introverted_or_extroverted == '1' %}
        <div>Personality: <b>Introverted</b></div>
    {% elif us.more_introverted_or_extroverted == '2' %}
        <div>Personality: <b>Extroverted</b></div>
    {% elif us.more_introverted_or_extroverted == '3' %}
        <div>Personality: <b>In the middle</b></div>
    {% endif %}

    <div>Ideal Rent: <b>${{us.ideal_rent}}</b></div>

    {% if us.bio %}
    <div>Bio: <b>{{us.bio}}</b></div>
    {% else %}
    <div>No bio available</div>
    {% endif %}
                                <button type="button" class="btn-sm">
                                    <a href="{% url 'questionnaire:createevent' us.user %}">Make a calendar event with your match!</a>
                                </button>
                                <div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i><i class="fa fa-comments-o"></i><i class="fa fa-share"></i></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    {% else %}
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template" style="padding: 40px 15px;text-align: center;margin-top: 80px;">
                <h1>
                    Oh no!</h1>
                <div class="error-details">
                    It looks like you don't have any mathces yet. Don't fret, new people
                </div>
                <div class="error-details">
                    are added every day. Come back in awhile to check on new matches!
                </div>
            </div>
        </div>
    </div>
</div>
    {% endif %}
</head>

</html>

