<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="en">
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Welcome, {{ user.username }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'questionnaire:form' %}">Roommate Questionnaire</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'questionnaire:profile' user.username %}">Your Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'questionnaire:answers' user.username %}">Your Results
                        <span class="sr-only">(current)</span>
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>
<head>
    <meta charset="UTF-8">
    <title>Questionnaire Results</title>
    <div class="jumbotron text-center" style="margin-top: 58px; background-color: #FFFFFF;">
    <h3 class="font-weight-bold"> The Results Page </h3>
        <hr class="my-4">
    	<p>{{ user.username }}, these are your matches.</p>
    </div>
    {% if matches %}
    <!-- https://bbbootstrap.com/snippets/bootstrap-social-media-feed-template-73037768 -->
        <ul>
            <div class="container mt-4 mb-5">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-8">
                        <div class="feed p-2">
                            <div class="bg-white border mt-2">
                                {% for us in matches %}
                                <div>
                                    <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                                        <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="https://i.imgur.com/aoKusnD.jpg" width="45">
                                            <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">{{ us.name }}, {{ us.user }}</span></div>
                                        </div>
                                        <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                                    </div>
                                </div>
                                <div class="p-2 px-3"><span>{{us.email}}</span></div>
                                <div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i><i class="fa fa-comments-o"></i><i class="fa fa-share"></i></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    {% else %}
    <p>No matches available at this time.</p>
    {% endif %}
</head>
<button type="button" class="btn-sm">
        <a href="{% url 'questionnaire:createevent' username %}">Make a calendar event with your match!</a>
</button>
</html>

