<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    {% if responses %}
    <h2>{{responses.name}}'s Profile</h2>
    {% else %}
    <h2>Please submit the roommate questionnaire!</h2>
    {% endif %}
</head>
<body>
<ul>
    {% if responses %}
        <li>Year: {{responses.year}}</li>
        <li>Email: {{responses.email}}</li>
        {% if responses.bio %}
        <li>Bio: {{responses.bio}}</li>
        {% else %}
        <li>No bio available</li>
        {% endif %}
    {% else %}
    <p>No questionnaire submitted yet</p>
    {% endif %}
</ul>
<button type="button" class="btn-sm">
        <a href="{% url 'questionnaire:calendar' username %}">View my calendar</a>
</button>
</body>
</html>