{% load socialaccount %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<head>
  <style>
    .masthead {
      height: 100vh;
      min-height: 500px;
      background-image: url('https://rotunda.virginia.edu/sites/rotunda.virginia.edu/files/styles/homepage_image/public/1-4-edited.jpg?itok=A9Uo5TYl');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  </style>
</head>

<!-- https://startbootstrap.com/snippets/full-image-header -->

<!-- Navigation -->
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Welcome Back, {{ user.username }}!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'questionnaire:form' %}">Roommate Questionnaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'questionnaire:profile' user.username %}">Your Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'questionnaire:answers' user.username %}">Your Results</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-bold" style="color:white">UVA Roommate Finder</h1>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h2 class="font-weight-light">Our Project</h2>
    <p>As a group of UVA students, we noticed many of our peers struggled with finding roomates, espicially for
    after their first year. We developed this web app to make this stress-innducing process a little easier.
    Fill out the questionairre and we will automatically match you with other students we think would be a good
    fit!</p>
  </div>
</section>

{% else %}
<h1>Welcome to the Roommate Finder App!</h1>
  <a href="{% provider_login_url 'google' %}">Login with Google</a>
{% endif %}
